* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MManrope";
  src: url("../fonts/Manrope-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MManrope";
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "MManrope";
  /* font-weight: regular; */
  font-weight: bold;
  scroll-behavior: smooth;
}

body {
  /* background-color: #818181; */
  background: url(../img/main-background-image.jpg) no-repeat center;
  padding-top: 30px;
}

.game-title {
  background: url(../img/title2.png) no-repeat center;
  padding-top: 50px;
  height: 220px;
}

.circle {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 30%;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  color: #06639c;
}

.hide {
  display: none;
}

.congratulations {
  text-align: center;
  height: 270px;
}

.one {
    background-color: rgba(255, 60, 0, 0.58);
}
.two {
    background-color: rgba(0, 255, 0, 0.6);
}
.three {
    background-color: rgba(0, 255, 162, 0.48);
}

.button {
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  /* color: #fff; */
  color: #82FF7C;
  background-color: #ca5b5b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  user-select: none;
}

.button:hover {
  background-color: #e76666;
}

.button:active {
  background-color: #e76666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.large-game-field {
  background: url(../img/game-field-450.png);
  margin: auto;
  width: 450px;
  height: 450px;
  position: relative;
}

.small-game-field {
  background: url(../img/game-field-340.png);
  margin: auto;
  width: 340px;
  height: 340px;
  position: relative;
}

.tag {
  width: 100px;
  height: 100px;
  position: absolute;
}

.tag1-100 {
  background: url(../img/tags-100/tag1-100.png);
  width: 100px;
  height: 100px;
  left: 25px;
  top: 25px;
}

.tag2-100 {
  background: url(../img/tags-100/tag2-100.png);
  left: 125px;
  top: 25px;
}

.tag3-100 {
  background: url(../img/tags-100/tag3-100.png);
  left: 225px;
  top: 25px;
}

.tag4-100 {
  background: url(../img/tags-100/tag4-100.png);
  left: 325px;
  top: 25px;
}

.tag5-100 {
  background: url(../img/tags-100/tag5-100.png);
  left: 25px;
  top: 125px;
}

.tag6-100 {
  background: url(../img/tags-100/tag6-100.png);
  left: 125px;
  top: 125px;
}

.tag7-100 {
  background: url(../img/tags-100/tag7-100.png);
  left: 225px;
  top: 125px;
}

.tag8-100 {
  background: url(../img/tags-100/tag8-100.png);
  left: 325px;
  top: 125px;
}

.tag9-100 {
  background: url(../img/tags-100/tag9-100.png);
  left: 25px;
  top: 225px;
}

.tag10-100 {
  background: url(../img/tags-100/tag10-100.png);
  left: 125px;
  top: 225px;
}

.tag11-100 {
  background: url(../img/tags-100/tag11-100.png);
  left: 225px;
  top: 225px;
}

.tag12-100 {
  background: url(../img/tags-100/tag12-100.png);
  left: 325px;
  top: 225px;
}

.tag13-100 {
  background: url(../img/tags-100/tag13-100.png);
  left: 25px;
  top: 325px;
}

.tag14-100 {
  background: url(../img/tags-100/tag14-100.png);
  left: 125px;
  top: 325px;
}

.tag15-100 {
  background: url(../img/tags-100/tag15-100.png);
  left: 225px;
  top: 325px;
}

.tag1-75 {
  background: url(../img/tags-75/tag1-75.png);
  width: 100px;
  height: 100px;
  left: 25px;
  top: 25px;
}

.tag2-75 {
  background: url(../img/tags-75/tag2-75.png);
  left: 125px;
  top: 25px;
}

.tag3-75 {
  background: url(../img/tags-75/tag3-75.png);
  left: 225px;
  top: 25px;
}

.tag4-75 {
  background: url(../img/tags-75/tag4-75.png);
  left: 325px;
  top: 25px;
}

.tag5-75 {
  background: url(../img/tags-75/tag5-75.png);
  left: 25px;
  top: 125px;
}

.tag6-75 {
  background: url(../img/tags-75/tag6-75.png);
  left: 125px;
  top: 125px;
}

.tag7-75 {
  background: url(../img/tags-75/tag7-75.png);
  left: 225px;
  top: 125px;
}

.tag8-75 {
  background: url(../img/tags-75/tag8-75.png);
  left: 325px;
  top: 125px;
}

.tag9-75 {
  background: url(../img/tags-75/tag9-75.png);
  left: 25px;
  top: 225px;
}

.tag10-75 {
  background: url(../img/tags-75/tag10-75.png);
  left: 125px;
  top: 225px;
}

.tag11-75 {
  background: url(../img/tags-75/tag11-75.png);
  left: 225px;
  top: 225px;
}

.tag12-75 {
  background: url(../img/tags-75/tag12-75.png);
  left: 325px;
  top: 225px;
}

.tag13-75 {
  background: url(../img/tags-75/tag13-75.png);
  left: 25px;
  top: 325px;
}

.tag14-75 {
  background: url(../img/tags-75/tag14-75.png);
  left: 125px;
  top: 325px;
}

.tag15-75 {
  background: url(../img/tags-75/tag15-75.png);
  left: 225px;
  top: 325px;
}


@media (max-width: 1199px) {
  .game-title {
    background: url(../img/title666x82.png) no-repeat center;
  }
}


@media (max-width: 767px) {
  .game-title {
    background: url(../img/titlesquare.png) no-repeat center;
  }
  .circle {
    width: 30px;
    height: 35px;
    margin-top: 20px;
    font-size: 25px;
  }
}

@media (max-width: 575px) {
  .circle {
    width: 22px;
    height: 25px;
    margin-top: 20px;
    font-size: 18px;
  }
}

@media (max-width: 460px) {}