* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MManrope";
  src: url("../fonts/Manrope-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
html {
  font-family: "MManrope";
  font-weight: bold;
  scroll-behavior: smooth;
}

body {
  background: url(../img/main-background-image.jpg) no-repeat center;
  padding-top: 30px;
}

.game-title {
  background: url(../img/main-title.png) no-repeat center;
  padding-top: 50px;
  margin-bottom: 100px;
  height: 220px;
}

.circle {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 30%;
  text-align: center;
  display: inline-block;
  font-size: 40px;
  color: #e7e1ca;
}

.hide {
  display: none;
}

.congratulations {
  text-align: center;
  margin-bottom: 100px;
  height: 270px;
}

.one {
  background-color: rgba(227, 97, 4, 0.982);
}

.two {
  background-color: rgba(5, 172, 5, 0.865);
}

.three {
  background-color: rgba(185, 49, 234, 0.934);
}

.button {
  background-image: linear-gradient(rgba(244, 66, 54, 0.6), rgb(244, 66, 54), rgba(244, 66, 54, 0.6));
  border-color: rgb(244, 66, 54);
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #82FF7C;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #622626;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.button:hover {
  background-image: linear-gradient(rgba(244, 66, 54, 0.6), rgb(244, 66, 54), rgba(244, 66, 54, 0.6));
  color: #82FF7C;
}

.button:active {
  background-image: linear-gradient(rgba(244, 66, 54, 0.6), rgb(244, 66, 54), rgba(244, 66, 54, 0.6));
  box-shadow: 0 5px #622626;
  transform: translateY(4px);
}

.large-game-field {
  background: url(../img/game-field-450.png);
  margin: auto;
  width: 450px;
  height: 450px;
  position: relative;
}

.small-game-field {
  background: url(../img/game-field-340.png);
  margin: auto;
  width: 340px;
  height: 340px;
  position: relative;
}

.tag100 {
  width: 100px;
  height: 100px;
  position: absolute;
}

.tag75 {
  width: 76px;
  height: 76px;
  position: absolute;
}

@media (max-width: 1199px) {
  .game-title {
    background: url(../img/small-title.png) no-repeat center;
    margin-bottom: 0px;
  }
  .congratulations {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .game-title {
    padding-top: 10px;
    background: url(../img/small-square-title.png) no-repeat center;
  }
  .congratulations {
    text-align: center;
    height: 200px;
    padding-top: 30px;
  }
  .circle {
    width: 30px;
    height: 35px;
    margin-top: 20px;
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .congratulations {
    text-align: center;
  }
  .circle {
    width: 22px;
    height: 25px;
    margin-top: 20px;
    font-size: 18px;
  }
}